
.banner {
  position: relative;
  background: url(../img/dargad.PNG);
  min-height: 93vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-bar {
  margin-top: 29px;
}
.navbar-brand {
  margin-right: 80px;
}
.right-bg {
  position: absolute;
  max-width: 60vw;
  right: 30px;
  z-index: -999;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}


.button {
  display: inline-flex;
  height: 25px;
  width: 100px;
  border: 1px solid #fd5800;
  border-radius: 15px;
  margin: 0 0 0 80px;
  color: #fd5800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .75em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #fd5800;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all .45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 255%;
  left: -150px;
  top: -19px;
  background: #fd5800;
  position: absolute;
  transition: all .3s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: white;
  text-decoration: none;
}
